*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 背景用*/
/*body {
  padding: 30px;
  background: radial-gradient(rgb(169, 214, 255), rgb(0, 80, 159));
}*/

body {
  background-color: #fffdfa;
}

/*.body2 {
  background-color: #fffdfa;
  text-align: center;
}*/

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow--radius {
  border-radius: 100vh;
}
a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow--radius:before {
  border-radius: 100vh;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

/*table{
    margin:auto;
}*/

.parent {
	/*width: 280px;
	height: 280px;*/
	/*background-color: whitesmoke;*/
  /*background: radial-gradient(rgb(169, 214, 255), rgb(0, 80, 159));*/
	padding: 100px;
	/*border: solid 2px black;*/
	/*box-sizing: border-box;*/
}

.parent div {
	width: 80%;
	height: 200px;
	margin: 20px auto;
	display: grid;
	justify-content: center;
	align-items: center;
	border: solid 2px black;
}
.child_1 {
	background-color: lightblue;
}
.child_2 {
	background-color: #CCFFFF;
}
   
.child_3 {
	background-color: #F0F8FF;    
}

.child_4 {
	background-color: lightgoldenrodyellow;    
}

/*.background_test {
  background: radial-gradient(rgb(169, 214, 255), rgb(0, 80, 159));
}*/

/*共通部分*/
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium";
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.home-content{
  text-align: center;
  margin-top: 10%;
  /*background-color: #fff;*/
}

.home-content{
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し*/
.page-title{
  font-size: 5rem;
  font-family: 'Pirosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/*ボタン*/
.button{
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover{
  background: #0090aa;
}

/*クラス指定*/
p.main-nav {
  font-family: 'Fredoka One', cursive;
}

/*ヘッダーのナビ*/
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: lavenderblush;
}
.main-nav a:hover {
  color: #0bd;
}

/*Home*/
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
  background-color: #fff;
}

/*footer {
  background-color: #808080;
  text-align: center;
  font-size: medium;
  margin-left: 10px;
  margin-right: 10px;
}*/